/* Fonts<<__________________________________________________________ */
.fSize50 {   font-size:   3.13rem;    }
.fSize34 {   font-size:   2.13rem;    }
.fSize22 {   font-size:   1.38rem;    }
.fSize20 {   font-size:   1.25rem;    }
.fSize18 {   font-size:   1.11rem;    }
.fSize16 {   font-size:   1rem;       }
.fSize15 {   font-size:   0.94rem;    }
.fSize14 {   font-size:   0.88rem;    }
.fSize10 {   font-size:   0.63rem;    }
.fMed    {   font-weight: 500;        }
.fBold   {   font-weight: 700;        }
.fontSec {   font-family: 'Poppins', sans-serif; }

/* font positioning */
.TXTleft    {   text-align     : center;    }
.TXTcenter  {   text-align     : center;    }
.TXTjustif  {   text-align     : justify;   }
.TXTlineL   {   line-height    : 2rem;      }

html{
    font-size:      16px;
    font-family:    'Nunito', sans-serif;
    font-style:     normal;
    font-weight:    normal;
    color:          var(--Col_GrayDark);
}
/* Fonts>>__________________________________________________________ */

/* Colors<<_________________________________________________________ */
:root{
    --Col_Main:         #6852ED;
    --Col_MainDark:     #554D89;
    --Col_Sec:          #BA43FC;
    --Col_Gray:         #716C80;
    --Col_GrayDark:     #5B5766;
    --Col_GrayLight:    rgba(225, 228, 237, 0.3);
    --Col_Highlight:    #EF7171;
    --Col_White:        white;
}
/* TXT */
.TXTmain        {   color: var(--Col_Main);         }
.TXTmainDark    {   color: var(--Col_MainDark);     }
.TXTgray        {   color: var(--Col_Gray);         }
.TXTgrayDark    {   color: var(--Col_GrayDark);     }
.TXTwhite       {   color: var(--Col_White);        }
.TXThighlight   {   color: var(--Col_Highlight);    }

/* BCK */
.BCKgray    {   background-color: var(--Col_GrayLight);     }
.BCKwhite   {   background-color: var(--Col_White);         }
.BCKmain    {   background-color: var(--Col_Main);          }
.BCKgrad    {   background-image: linear-gradient(45deg,var(--Col_Main),var(--Col_Sec));}
.shadow     {   box-shadow: 0px 0px 20px #E1E4ED;}
.alpha70    {   opacity: 0.5;   }
/* Colors>>_________________________________________________________ */

/* BoxModel<<_______________________________________________________ */
.m0         {   margin:  0px;    }
.p0         {   padding: 0px;    }
.mp0        {   margin:  0px; padding: 0px;    }
.m0child *  {   margin:  0px;    }
/* BoxModel>>_______________________________________________________ */


/* Flex<<______________________________________________________ */
.flex           {   display: flex;  }
.flexSideSide   {   display: flex; justify-content: space-between; align-items: center;  }
.flexCol        {   display: flex; flex-direction: column; justify-content: center; align-items: center;  }
/* Flex>>______________________________________________________ */

/* Generic<<________________________________________________________ */
body{
    margin: 0px;
}
ul li   {   line-height: 2rem;          }
li      {   list-style: none; padding-left: 0px; }
a       {   text-decoration: none;      }
hr      {   border: 0px; height: 2px;   }
.sepdown    {   margin-bottom: 120px;   }
.sepdown2    {   margin-bottom: 50px;   }
/* Generic<<________________________________________________________ */
.button{
    background-image: linear-gradient(45deg,var(--Col_Main),var(--Col_Sec));
    color: white;
    padding: 12px 25px;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 50px;
    margin-right: 20px;
    display: inline-block;
}
.ButtonBox   {   width: 100%; align-items: end;}
.ButtonBox div:nth-child(2){ padding-bottom: 12px;}

.linkPink:hover{ color: var(--Col_Highlight);}
/* Background Images */

#mainheader{
    background-image: url("./img/shape.svg");
    background-position: right 0 top 0%;
    background-repeat: no-repeat;
    background-size:  800px;
}
.decalUP{
    position: relative;
    top: -600px;
    }
.decalDown{
    position: relative;
    top: +600px;
    }


/* Navbar<<________________________________________________________ */
#navbar>div:first-child {  flex: 0 119px;   margin-top: 18px;}
#navbutton  { position: fixed; top: 15px; right: 30px; display: none; z-index: 2;}
menu            {   height: 46px; flex: 0 50%;  }
menu li         {   align-self: flex-end; padding: 26px 10px 10px 10px;}
menu li:hover a {   font-weight: 700; color: var(--Col_MainDark); padding: 25px 10px 25px 10px;}
menu li:hover   {
    border-width:   2px;
    border-style:   solid;
    border-image:   linear-gradient(    to right,   var(--Col_Main),    var(--Col_Sec)  ) 100% 0 0 0;
}
/* Navbar<<______________________________________

/* Title<<_________________________________________________________ */
#title {background-color: rgba(255, 255, 255, 0.55); border-radius: 0px 150px 0px 0px;}
#title  {   max-width: 436px;  padding: 0px 20px;  }
#title>header{   margin-top: 200px; padding-bottom: 250px; padding-top: 20px; }
/* Title<<_________________________________________________________ */

/* Prices<<_________________________________________________________ */
.priceblock     {   box-sizing: border-box; padding: 60px 50px; flex: 0 30%;  }
.priceblock>p:nth-child(4){margin: 2px 0px;}
#buttonchoice   {   padding: 4px 7px; border-radius: 10px; font-weight: 700;}
.ulcenter       {   display: flex; justify-content: center; width:100%; margin: 30px 0px 0px 0px;   }
#price hr       {   border-top: 2px solid var(--Col_Sec); width: 40px; margin: 0;   }
.prix           {   margin: 20px 0px 0px 0px; line-height: 3rem;   }
#price          {   margin-bottom: 120px;}
/* Prices<<_________________________________________________________ */

/* Testimonial<<_________________________________________________________ */
#testimonial    {   max-width: 750px; padding: 0px 20px; }
#testimonial>h2 {   margin-bottom: 0px;}
#testimonial>p:nth-child(4) {   margin-bottom: 0px; }
#testimonial>p:nth-child(5) {   margin-top: 2px;    }
#colorball      {   width: 100px; height: 100px; border-radius: 50%; margin-top: 40px;
background-image: url("./img/testimonialGuy.jpg");
background-position: center;
background-size: cover;
}
#testimonialC   {
    min-height: 600px;
}
#testimonialBCK{
    z-index: -1;
    background-image: url("./img/city2.jpg");
    background-position: bottom 0 left 10%;
    background-repeat: no-repeat;
    background-size:  cover;
    mask-image: url("./img/shape1.svg"),url("./img/shape2.svg");
    mask-mode: luminance;
    mask-position: bottom 0 left 10%,right 0 top 0%;
    mask-repeat: no-repeat, no-repeat;
    mask-size:  240px, 670px;
    height: 600px;
}
/* Testimonial<<_________________________________________________________ */

/* Services<<_________________________________________________________ */
#services               { min-height: 600px; margin-bottom: 70px; margin-top: 70px;}
#serviceLeft            { flex: 0 66%;  }
#serviceRight           { flex: 0 30%;  }
#serviceLeft>div        { flex: 0 47%;  }
.servBlock                      { min-height:230px;  padding: 80px 30px 20px 30px; box-sizing: border-box; border-radius: 10px;   }
.servBlock:first-child          { margin-bottom: 30px; }
.servBlock>p:last-child         { display: none;        }
.servBlock:hover>p:last-child   { display: block; margin-top: 35px;      }
.servBlock:hover    {background-image: linear-gradient(45deg,var(--Col_Main),var(--Col_Sec)); padding: 30px 30px;}
.servBlock:hover *              { color: var(--Col_White);  }
/* Services<<_________________________________________________________ */

/* Community<<_________________________________________________________ */
#grayblock{
    flex: 0 50%;
    min-height: 474px ;
    min-Width:  650px ;
    border-radius: 300px 300px 300px 150px;
    background-image: url("./img/city1.jpg");
    background-position: center;
    background-size: cover;
}
#communityR     {    flex: 0 40%;}
/* Community>>_________________________________________________________ */

/* Subscribe<<_________________________________________________________ */
#subscribe{ padding:15px 25px; border-radius: 10px; margin-top: 80px;}
#sendButton {   border: 2px solid white; padding: 15px 30px; color: white; border-radius: 30px;}
/* Subscribe<<_________________________________________________________ */

/* Footer<<____________________________________________________________ */
#footbar        {   align-items: stretch;  }
#footbar .logo  {   margin-bottom: 0px;  }
#footleft>p     {   margin-top: 9px;}
#footbar hr     {   justify-self: end;  }
#footbar>*      {   flex: 0 30%;   }
footer hr       {   border-top: 2px solid #D8D8D8; width: 80px; }
#copyright      {   margin-top: 40px;   }
#links>p:first-child , #footContact>p:first-child {   margin-top: 10px;}
/* Footer<<____________________________________________________________ */

/* RESPONSIVE_________________________________________________________________________*/

/* XL ________________________________________________________________________________*/

.container  {   max-width: 1140px; margin: 0px auto; padding: 0px 10px;  }

/* Backgroung step _________________________________________________________________________________*/
@media (max-width: 1499.98px) {
    /* navbar */
    #navbar {background-color: white; border-radius: 0px 0px 100px 0px; max-width: 1000px;}
    menu            { flex: 0 70%;  }

}

/* L _________________________________________________________________________________*/
@media (max-width: 1199.98px) {
    .container  {  margin: 0px 5vw;   }
    /* navbar */
    #navbar {justify-content: space-between;}
    #mainheader{background-position: right 0 top 80px;}
    /* price  */
    .priceblock     { flex: 0 32%;  }
        /* community  */
        #community    { flex-wrap: wrap;}
        #grayblock{
            flex: 0 100%;
            min-height: 250px ;
            min-width: 100%;
            border-radius: 125px 125px 125px 50px;
        }
        #communityR {flex: 0 100%; padding: 5vw;}
        #communityR *{text-align: left;}
}

/* M _________________________________________________________________________________*/
@media (max-width: 1059.98px) {
    .container  {   margin: 0px 3vw;                        }
    /* navbar  */
    #mainheader{background-position: right 0 top 0px;}
    #navbar {background-color: rgba(255, 255, 255, 0);}
    #navbutton  {display: block;}
    menu>li{display: none;}
    /* price  */
    #price  {   flex-wrap: wrap;    }
    .priceblock     { flex: 0 100%; margin-bottom: 10px; }
    .priceflex{display: flex; justify-content: space-between;}
    .ulcenter{padding-left: 15px;}
    #buttonchoice{display: none;}
    /* services  */
    #services    { flex-wrap: wrap;}
    #serviceRight{flex: 0 100%; padding: 5vw;}
    #serviceLeft            { flex: 0 100%;  }
    .servBlock    {background-image: linear-gradient(45deg,var(--Col_Main),var(--Col_Sec)); padding: 30px 30px;}
    .servBlock *  { color: var(--Col_White);  }
    .servBlock>p:last-child   { display: block; margin-top: 35px;}
    .servBlock>p:last-child>a   { padding: 30px;}
    /* footer  */
    #links li , #footContact li {line-height: 3rem;}


}

/* S _________________________________________________________________________________*/
@media (max-width: 767.98px) {
    .container  {   margin: 0px 2vw;    }
    /* services  */
    #serviceLeft            { flex-wrap: wrap; }
    #serviceLeft>div        { flex: 0 100%;  }
    .servBlock {margin-bottom: 30px;}
    /* footer  */
    #footleft     {  display: none;}
    #links , #footContact {   flex: 0 48%;}
}
/* S landscape _________________________________________________________________________________*/
@media (orientation: landscape) and (max-width: 767.98px) {
    #title>header{   margin-top: 50px;}
}

/* XS _________________________________________________________________________________*/
@media (max-width: 575.98px) {
    /* footer  */
    #footbar {flex-wrap: wrap;}
    #links , #footContact {   flex: 0 100%;}
    #links ul {padding-left:40px;}
}